<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.entity.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, info, name, parentId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qianfeng.entity.Role">
    insert into t_role (id, info, name, 
      parentId)
    values (#{id,jdbcType=INTEGER}, #{info,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qianfeng.entity.Role">
    insert into t_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentid != null">
        parentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.entity.Role">
    update t_role
    <set>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentId = #{parentid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.entity.Role">
    update t_role
    set info = #{info,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      parentId = #{parentid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--额外添加-->
  <!--获取所有角色信息-->
  <select id="selectRoleAll" resultType="com.qianfeng.vo.VRolePower">
    select *
    from t_role
    <where>
      <if test="name != null and name != ''">
        and name like concat('%', #{name}, '%')
      </if>
      <if test="flag != null and flag != ''">
        and flag = #{flag}
      </if>

    </where>
    limit #{start},#{limit}
  </select>

  <!--获取所有角色总数-->
  <select id="selectRoleCount" resultType="int">
    select count(1)
    from t_role
  </select>

  <!--获取有效的所有的角色信息-->
  <select id="selectAll" resultType="com.qianfeng.entity.Role">
     select *
      from t_role where flag = 1
  </select>

  <!--改变角色状态【假删除】-->
  <update id="roleFalseDelete" parameterType="int">
    update t_role set flag = 2 where id = #{id}
  </update>

  <!-- 获得我的角色信息
    Role findMyRole(int id);-->
  <select id="findMyRole" parameterType="int" resultType="com.qianfeng.entity.Role">
    select r.parentId from t_user u
    inner join t_userrole ur
    on u.id = ur.uid
    inner join t_role r
    on ur.rid = r.id
    where u.id = #{id}
  </select>

  <!--添加角色权限-->
  <insert id="addRoleAuthority" parameterType="map">
    insert into t_roleauthority (rid,aid) VALUE(#{rid},#{aid}),
    <foreach collection="array" item="item" separator=",">
      (#{rid},#{item})
    </foreach>

  </insert>

  <!--删除角色权限-->
  <delete id="deleteRoleAuthorityByAid" parameterType="int">
    DELETE  from t_roleauthority where aid = #{aid}
  </delete>

  <delete id="deleteRoleAuthorityByRid" parameterType="int">
    DELETE  from t_roleauthority where rid = #{rid}
  </delete>

</mapper>